<% provide(:title, 'About Us') %>
<title>TradeSpring | <%= yield(:title) %></title>
<body>
<p>
	TradeSpring makes it easier than ever before to buy, sell, and trade items online. Upon visiting the home page, you notice that it is divided into two sides.  Purchases are always on the left side and Sales are always on the right side. 
</p>
<div id="indent">
<p>
	The left side of the home page (purchases) consists of items that users are interested in purchasing. The comments below each of these posts are from other users that want to offer those items for a certain price. There is a search bar at the top where you can search for specific items that people want to purchase (if you are looking to sell something for example). 
</p><p>
    The right side of the home page consists of items that users are interested in selling. The comments below each of these posts are from other users that want to buy those items for a certain price. Again, there is a search bar at the top where you can search for specific items that people are interested in selling (If you want to buy a particular item for example).

</p>
</div>
<p>
    Now notice that if you try and comment on any of these sales or purchases, TradeSpring will ask you to sign in. You can create an account via the link provided or by clicking on the sign in link on the right side of the header at the top of the page. Once you sign in, you will see your own profile page. Near the top of the page, a contact link is provided that lets others email you with the email address you provided during signup. Below this, your profile page is divided into two sides. Again, Purchases are always on the left side andn Sales are always on the right side. 
</p>
<div id="indent">
<p>
    The left side of your profile page (purchases) consists of items that you want to buy. You can add items via the input bar on the top of all your postings. The comments on these items work in the same way as they do on the home page. However, now if a user comments on one of your purchases with something you are interested in, you can contact him/her by visiting their profile page and clicking on their name next to the comment. Then click the email link that is near the top of every profile page. Because comments and postings are limited to 254 characters, it is best to only convey essential information through TradeSpring. Leave details such as product photos, payment or shipping instructions, and product specifications to email. 
</p><p>
    The right side of your profile page (sales) consists of items that you want to sell. You can add items via the input bar on the top of all your postings. The comments on these items work in the same way as they do on the home page. However, now if a user comments on one of your purchases with something you are interested in, you can contact him/her by visiting their profile page and clicking on their name next to the comment. Then click the email link that is near the top of every profile page. Because comments and postings are limited to 254 characters, it is best to only convey essential information through TradeSpring. Leave details such as product photos, payment or shipping instructions, and product specifications to email. 
</p>
</div>
<p>
    If you have any questions or concerns, email tradespringcs@gmail.com
</p>


</body>