<%= form_for(@sale) do |f| %>
  
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new sale..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>